@use "common/variables" as *;

.banner {
  display: flex;
  padding-block: 26px;
}

.banner--dark {
  background-color: var(--bg-dark);

  @media (min-width: $desktop) {
    background:none;
  }
}

.banner__slogan {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.banner__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}
