@use "common/variables" as *;

.banner {
  display: flex;
  padding-block: 26px;

  @media (min-width: $tablet) {
    padding: 60px 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    min-height: 199px;
    background-color: var(--bg-lightest);
  }
}

.banner--dark {
  background-color: var(--bg-dark);

  @media (min-width: $desktop) {
    background: none;
  }
}

.banner__slogan {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
    min-height: 78px;
  }
}

.banner__address {
  font-family: $minor;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    width: 157px;
    min-height: 80px;
    text-align: right;
  }
}
