@use "common/variables" as *;

.button {
  display: inline-flex;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--color-main);
  background-color: var(--bg-bright);
}
