@use "common/variables" as *;
@use "common/mixins" as *;

.card-narrow {
  padding-block: 13px 19px;
  border-bottom: 1px solid var(--border-mega-light);

  &:first-child {
    border-top: 1px solid var(--border-mega-light);
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 235px;
    padding: 26px 37px;
    border-left: 1px solid var(--border-mega-light);
    border-right: 1px solid var(--border-mega-light);;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.card-narrow__subtitle {
  margin: 0 0 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-rarest);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.card-narrow__list {
  @include reset-list;
  margin: 0 0 15px;
  display: flex;
  justify-content: space-between;
}

.card-narrow__property {
  font-family: $minor;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-casual);

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-narrow__price {
  font-family: $minor;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-casual);

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}
