@use "common/variables" as *;

.card-narrow {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.card-narrow__subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-rarest);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.card-narrow__property {
  font-family: $minor;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-casual);

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-narrow__price {
  font-family: $minor;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-casual);

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}
