@use "common/mixins" as *;
@use "common/variables" as *;

.catalog-extra__title {
  line-height: 24px;
}

.catalog-extra__list {
  @include reset-list;
}

.catalog-extra__promotion {
  color: var(--color-main);
  background-color: var(--bg-bright);
}
