@use "common/mixins" as *;
@use "common/variables" as *;

.details {
  padding-block: 22px 49px;

  @media (min-width: $tablet) {
    padding-block: 45px 47px;
    border-bottom: 1px solid var(--border-super-light);
  }

  @media (min-width: $desktop) {
    padding-block: 0 47px;
    border: none;
  }
}

.details__title {
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet) {
    margin: 0 0 15px;
    font-size: 60px;
    line-height: 60px;
  }
}

.details__list {
  @include reset-list;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 19px 153px;
    margin: 0 92px 0 0;
    counter-reset: cards;
  }

  @media (min-width: $desktop) {
    gap: 37px 80px;
    margin: 0;
  }
}

.details__item {
  display: flex;
  align-items: center;
  font-family: $minor;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    font-size: 16px;
    line-height: 24px;
    min-width: 245px;
    min-height: 280px;
    flex-direction: column;
    align-items: baseline;
    gap: 31px;
    padding: 0 0 57px;
  }

  @media (min-width: $desktop) {
    min-width: 230px;
    gap: 31px;
    padding: 0 0 57px;
  }

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: var(--bg-bright);
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet) {
      grid-area: 1/1/2/2;
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet) {
      content: counter(cards);
      position: relative;
      z-index: -1;
      grid-area: 1/2/2/3;
      margin: 0 -37px 0 0;
      counter-increment: cards;
      margin-left: auto;
      transform: translate(-35px, 146px);
      font-family: $major;
      font-size: 280px;
      color: var(--color-counter);
    }
  }
}

.details__item:nth-child(1)::before {
  background-image: url("../img/index/leaf.svg");
}

.details__item:nth-child(1)::after {
  transform: translate(-57px, 146px);
}

.details__item:nth-child(2)::before {
  background-image: url("../img/index/water.svg");
}

.details__item:nth-child(3)::before {
  background-image: url("../img/index/fork-knife.svg");
}

.details__item:nth-child(4)::before {
  background-image: url("../img/index/clock.svg");
}

.details__item span {
  @media (min-width: $tablet) {
    grid-area: 2/1/3/3;
  }
}
