@use "common/mixins" as *;
@use "common/variables" as *;

.details {
  padding-block: 20px 49px;
}

.details__title {
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.details__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.details__item {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: var(--bg-bright);
  }
  // counter-reset
  // counter-increment
}

.details__text {
  font-family: $minor;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    width: 230px;
  }
}
