@use "common/mixins" as *;
@use "common/variables" as *;

.diet {
  @media (min-width: $desktop) {
    padding-block: 82px 71px;
  }
}

.diet__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    gap: 30px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    gap: 80px;
  }
}

.diet__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 20px 20px 18px;
  background-color: var(--bg-dark);

  @media (min-width: $tablet) {
    padding: 77px 63px 53px 52px;
    grid-template-columns: 1fr 200px;
    column-gap: 53px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: min-content 1fr;
    min-width: 570px;
    flex-grow: 1;
    padding: 47px 61px 59px 52px;
  }

  &::before {
    content: "";
    display: block;
    grid-area: 1/1/2/2;
    width: 50px;
    height: 50px;
    background-color: var(--bg-bright);
    border-radius: 50%;

    @media (min-width: $tablet) {
      grid-area: 1/2/4/3;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop) {
      grid-area: 1/1/2/2;
      width: 100px;
      height: 100px;
    }
  }
}

.diet__title {
  grid-area: 1/2/2/3;
  margin: 5px 0 0 20px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    grid-area: 1/1/2/2;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    grid-area: 1/2/2/3;
  }
}

.diet__text {
  grid-area: 2/1/3/3;
  margin: 0;
  padding-block: 27px 22px;
  font-family: $minor;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid var(--border-light);

  @media (min-width: $tablet) {
    grid-area: 2/1/3/2;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-common);
    border: none;
  }

  @media (min-width: $desktop) {
    grid-area: 2/1/3/3;
  }
}

.diet__link {
  display: inline-flex;
  grid-area: 3/1/4/3;
  width: 139px;
  margin-top: 15px;
  min-height: 24px;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-common);
  background-color: var(--bg-dark);
  align-items: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 165px;
    min-height: 38px;
    grid-area: 3/1/4/2;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-common);
  }
}
