@use "common/mixins";

.diet__list {
  @include mixins.reset-list;
}

.diet__text {
  // @include mixins.font("Lato", Lato-Regular, 400, normal);
  font-size: 16px;
  line-height: 24px;
}

.diet__link {
  color: #000000;
}
