@use "common/mixins" as *;
@use "common/variables" as *;

.filter__gist {
  line-height: 18px;
  text-transform: uppercase;
}

.filter__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.filter__characteristic--text {
  color: var(--color-casual);
  line-height: 18px;
  text-transform: uppercase;
}

.filter__characteristic--input {
  color: var(--color-casual);
  line-height: 18px;
  text-transform: uppercase;
}

.filter__list--radio {
  @include reset-list;
}

.filter__contacts--email,
.filter__contacts--phone {
  color: var(--color-casual);
  line-height: 18px;
  text-transform: uppercase;
}

.filter__contacts--input {
  color: var(--color-casual);
  line-height: 18px;
  text-transform: uppercase;
}

.filter__textarea {
  color: var(--color-casual);
  line-height: 18px;
  text-transform: uppercase;
}

.filter__list--checkbox {
  @include reset-list;
}

.filter__radio--text {
  color: var(--color-casual);
  line-height: 18px;
  text-transform: uppercase;
}

.filter__subtitle {
  line-height: 26px;
}

.filter__textarea {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter__checkbox--text {
  color: var(--color-casual);
  line-height: 18px;
  text-transform: uppercase;
}

.filter__requirment {
  font-family: $minor;
  line-height: 16px;
}
