@use "../common/variables" as *;

.footer {
  @media (min-width: $desktop) {
    position: relative;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);

  @media (min-width: $tablet) {
    flex-direction: row;
    min-height: 147px;
  }

  @media (min-width: $desktop) {
    min-height: 169px;
  }
}

.footer__logo-link {
  display: block;
  margin: 40px auto 13px;

  @media (min-width: $tablet) {
    margin: auto 36px auto 0;
  }
}

.footer__logo-text {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__academy-link {
  display: flex;
  height: 34px;
  margin: 20px 0 40px;
  align-items: center;
  font-family: $minor;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-casual);

  @media (min-width: $tablet) {
    margin: auto 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__academy-logo {
  display: block;
  width: 27px;
  height: 34px;
  mask-image: url("../img/stack.svg#htmlacademy");
  background-color: var(--bg-casual);
}

.footer__academy-link:hover .footer__academy-logo {
  background-color: var(--bg-bright);
}

.footer__academy-up {
  text-transform: uppercase;
}

.footer__academy-low {
  text-transform: capitalize;
  margin-right: auto;

  @media (min-width: $tablet) {
    margin-right: 23px;
  }
}
