@use "common/mixins" as *;
@use "common/variables" as *;

.header {
  display: flex;

  @media (min-width: $desktop) {
    position: absolute;
  }
}

.header__list {
  @include reset-list;
  display: none;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.header__link {
  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    color: var(--color-common);
    text-transform: uppercase;
  }

  @media (min-width: $desktop) {
    color: var(--color-main);
  }
}
