@use "common/variables" as *;

.hero {
  padding-block: 27px 20px;
  position: relative;
  background-image: linear-gradient(to right, var(--bg-cat), var(--bg-cat)),
    url("../../img/index/hero-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: top;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, var(--bg-cat), var(--bg-cat)),
      url("../../img/index/hero-bg-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    background: none;
    display: grid;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    min-height: 694px;
    padding-block: 0 52px;
    padding: 0;
  }

  &::before {
    @media (min-width: $desktop) {
      content: "";
      grid-area: 1/2/5/3;
      display: block;
      width: 100%;
      min-height: 694px;
      background-image: linear-gradient(to right, var(--bg-cat), var(--bg-cat)),
        url("../../img/index/hero-bg-desktop.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.hero__title {
  margin: 0 15px 25px 15px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var(--color-main);
  text-align: center;

  @media (min-width: $tablet) {
    grid-area: 1/1/2/2;
    margin: 0 120px 40px;
    font-size: 60px;
    line-height: 60px;
    color: var(--color-common);
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin: 224px 0 40px;
    padding: 0 110px 0 190px;
  }
}

.hero__text {
  margin: 0 41px 29px;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-main);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    grid-area: 2/1/3/2;
    margin: 0 120px 50px;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-common);
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin: 0 0 50px;
    padding: 0 110px 0 190px;
  }
}

.hero__link {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-main);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    grid-area: 3/1/4/2;
    width: 244px;
    min-height: 54px;
    margin: 0 120px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    margin: 0 190px;
  }
}

.hero__cat-food {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop) {
    width: 552px;
    height: 499px;
  }
}

.hero__cat-food--wrapper {
  @media (min-width: $tablet) {
    grid-area: 2/1/5/2;
    width: 709px;
    height: 609px;
    margin: 41px 0 0 5%;
  }

  @media (min-width: $desktop) {
    grid-area: 1/1/5/3;
    width: 552px;
    height: 499px;
    margin: 143px 0 0 39%;
    padding: 0;
  }
}
