@use "common/variables" as *;

.hero {
  background-image: linear-gradient(to right, rgba(100,168,61,0.85), rgba(98,166,58,0.85)),
  url("../../img/index/bg-cat.png");
  background-repeat: no-repeat;
  background-size: auto 302px;
  // #64A83D
  // #62A63B
}

.hero__title {
  color: var(--color-main);
}

.hero__text {
  color: var(--color-main);
  text-transform: uppercase;
}

.hero__link {
  text-transform: uppercase;
}
