@use "common/variables" as *;

.logo {
  position: relative;
  grid-area: 1/1/2/2;
  display: block;
  min-height: 65px;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 174px;
    min-height: 100px;
  }

  @media (min-width: $desktop) {
    width: 202px;
    min-height: 170px;
  }
}

.logo--icon {
  margin: 12px 0 0 20px;

  @media (min-width: $tablet) {
    width: 60px;
    height: 50px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    width: 70px;
    height: 59px;
  }
}

.logo--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet) {
    position: static;
    transform: none;
  }
}
