@use "common/variables" as *;

.outcome {
  padding-block: 25px 40px;
  background-color: var(--bg-dark);

  @media (min-width: $tablet) {
    padding-block: 45px 101px;
    background: linear-gradient(to top, var(--bg-dark) 0 462px, var(--bg-lightest) 462px 100%);
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.outcome__title {
  margin: 0 0 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet) {
    margin: 0 0 59px;
    font-size: 60px;
    line-height: 60px;
    color: var(--color-common);
  }

  @media (min-width: $desktop) {
    margin: 0 0 146px;
  }
}

.outcome__text {
  margin: 0 0 34px;
  font-family: $minor;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    margin: 0 0 65px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 69px;
  }
}

.outcome__list {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  margin: 0 0 34px;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet) {
    grid-template-areas: "a b c";
    grid-template-columns: 162px 162px 1fr;
    gap: 43px;
  }

  @media (min-width: $desktop) {
    grid-template-areas:
      "a b"
      "c c";
  }
}

.outcome__wrapper {
  @media (min-width: $desktop) {
    width: 436px;
  }
}

.outcome__wrapper--first {
  grid-area: a;

  @media (min-width: $desktop) {
    margin: 0 0 55px;
  }
}

.outcome__wrapper--second {
  grid-area: b;
}

.outcome__wrapper--first,
.outcome__wrapper--second {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  min-width: 124px;
  min-height: 56px;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-mega-light);
    border-radius: 3px;
  }

  @media (min-width: $tablet) {
    min-width: 162px;
    min-height: 72px;
  }
}

.outcome__wrapper--third {
  grid-area: c;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    flex-direction: column;
    align-items: end;
    justify-content: start;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.outcome__desc {
  z-index: 1;
  max-width: 80px;
  font-family: $minor;
  font-size: 12px;
  line-height: 12px;
  background-color: var(--bg-dark);
  text-transform: lowercase;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0 10px;
    max-width: 162px;
    font-size: 14px;
    line-height: 14px;
    background-color: var(--bg-lightest);
  }

  @media (min-width: $desktop) {
    background-color: var(--bg-dark);
  }
}

.outcome__desc--substyle {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin: 0 0 11px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    margin-right: 63px;
  }
}

.outcome__value {
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.outcome__value--substyle {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}
//slider
.outcome__compare {
  display: grid;
  grid-template-columns: var(--persent, 50%) 1fr;
  width: 280px;
  margin: 50px auto;

  @media (min-width: $tablet) {
    width: 560px;
  }
}

.outcome__slide {
  grid-row: 1/2;
  display: flex;
  overflow: hidden;
}

.outcome__slide--before {
  grid-column: 1/2;
}

.outcome__slide--after {
  grid-column: 2/3;
  justify-content: flex-end;
}

.outcome__range {
  grid-column: 1/-1;
  grid-row: 1/2;
  height: 100%;
  margin: 0;
  opacity: 0;
}

.outcome__button-line {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  transform: translateX(50%);
  background: var(--border-muddy);
  pointer-events: none;
  border-radius: 2px;
}

.outcome__button-line::after {
  content: "";
  flex-shrink: 0;
  display: flex;
  width: 40px;
  height: 40px;
  // border: 3px solid var(--border-muddy);
  // border-radius: 50%;
  // background: var(--bg-lightest);
  mask-image: url("../img/stack.svg#slider");
  background-color: rgb(96, 189, 189);
}

.outcome__range:active + .outcome__button-line::after {
  color: var(--border-muddy);
  background: var(--bg-lightest);
}

.outcome__image-before,
.outcome__image-after {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet) {
    width: 560px;
    height: 512px;
  }
}
