@use "common/variables" as *;

.page {
  height: 100%;
}

.page__container {
  width: $mobile;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: $tablet;
  }
}

.page__body {
  font-family: $major;
  color: var(--color-common);
  background-color: var(--bg-lightest);
  margin: 0 auto;
  width: 1440px;
  height: 100%;
}


