@use "../common/variables" as *;

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: $major;
  color: var(--color-common);
  background-color: var(--bg-lightest);
  min-width: $mobile;
  min-height: 100%;
  margin: 0 auto;

  @media (min-width: $tablet) {
    min-width: $tablet;
  }

  @media (min-width: $desktop) {
    min-width: $desktop;
    position: relative;
  }
}

.page__wrapper {
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;

  @media (min-width: $tablet) {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @media (min-width: $desktop) {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }
}

.page__map {
  display: block;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;

  .no-webp & {
    background-image: url("../img/map-mobile.png");
  }

  .webp & {
    background-image: url("../img/map-mobile.webp");
  }

  @media (min-resolution: 2dppx) {
    .no-webp & {
      background-image: url("../img/map-mobile@2x.png");
    }

    .webp & {
      background-image: url("../img/map-mobile@2x.webp");
    }
  }

  @media (min-width: $tablet) {
    .no-webp & {
      background-image: url("../img/map-tablet.png");
    }

    .webp & {
      background-image: url("../img/map-tablet.webp");
    }

    @media (min-resolution: 2dppx) {
      .no-webp & {
        background-image: url("../img/map-tablet@2x.png");
      }

      .webp & {
        background-image: url("../img/map-tablet@2x.webp");
      }
    }
  }

  @media (min-width: $desktop) {
    .no-webp & {
      background-image: url("../img/map-desktop.png");
    }

    .webp & {
      background-image: url("../img/map-desktop.webp");
    }

    @media (min-resolution: 2dppx) {
      .no-webp & {
        background-image: url("../img/map-desktop@2x.png");
      }

      .webp & {
        background-image: url("../img/map-desktop@2x.webp");
      }
    }
  }
}
