@use "common/variables" as *;

.text {
  font-size: 12px;
  line-height: 12px;
}

.text__tiny {
  font-size: 14px;
  line-height: 14px;
}

.text__small {
  font-size: 16px;
  line-height: 16px;
}

.text__medium {
  font-size: 20px;
}

.text__large {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.text__huge {
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
}

.text__gargantuan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.text__colossal {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
}
