:root {
  --white: #ffffff;
  --black: #000000;
  --black-light: #111111;
  --black-lightest: #222222;
  --green: #68B738;
  --grey: #eaeaea;
  --grey-dark: #f2f2f2;
  --grey-special: #444444;

  --color-main: var(--white);
  --color-common: var(--black);
  --color-casual: var(--grey-special);
  --color-rare: var(--black-light);
  --color-rarest: var();
  --bg-lightest: var(--white);
  --bg-bright: var(--green);
  --bg-dark: var(--grey-dark);
  --bg-darkest: var(--grey);
}
